services:
  apache-php:
    image: php:8.2-apache
    container_name: apache-php
    restart: always 
    volumes:
      - ./www:/var/www/html
    ports:
      - "8080:80" 
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass  
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    volumes:
      - db_data:/var/lib/mysql

  laravel-app:              
    image: php:8.2-apache
    container_name: laravel-app
    restart: always 
    volumes:
      - ./laravel:/var/www/html  
    ports:
      - "8082:80" 
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always 
    ports:
      - "8081:80" 
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpass  
    depends_on:
      - db

  wordpress:                
    image: wordpress:latest 
    container_name: wp_basic 
    restart: always 
    ports:                  
      - "8083:80" 
    environment:            
      WORDPRESS_DB_HOST: wp_db 
      WORDPRESS_DB_USER: wordpress 
      WORDPRESS_DB_PASSWORD: wordpress 
      WORDPRESS_DB_NAME: wordpress 
    volumes:                
      - wp_data:/var/www/html
    depends_on:             
      - wp_db               

  wp_db:                    
    image: mysql:8.0   
    container_name: wp_db   
    restart: always 
    environment:            
      MYSQL_ROOT_PASSWORD: rootpass 
      MYSQL_DATABASE: wordpress 
      MYSQL_USER: wordpress 
      MYSQL_PASSWORD: wordpress 
    volumes:                
       - wp_db_data:/var/lib/mysql

volumes:
  db_data:    
  wp_data:    
  wp_db_data: 